{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ request.user.employee.company.logo.url}}">

    <title>Payroll For {{ request.user.employee.company.name }}     </title>

    <!-- Bootstrap Complete CSS V4.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


           <!-- Bootstrap core CSS -->
        <link href="{% static 'company/dist/css/bootstrap.min.css' %}" rel="stylesheet">

       <!-- Custom styles for this template -->
        <link href="{% static 'user/dashboard.css' %}" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
     <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">


            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
                <img src="{{request.user.employee.company.logo.url}}" width="30" height="30" class="d-inline-block align-left" alt="">
                                 {% if user.is_authenticated %}
                {{ request.user.employee.company.name }}
                {% endif  %}
                  </a>

                  <!--
                       <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"></a> -->
            <!-- {{ request.session.company }} -->
            <!--input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"-->
            <ul class="navbar-nav px-3 ">
                 <li class="nav-item text-nowrap">


                    {% if user.is_authenticated %}
                     <p class="pt-3 nav-link active d-inline ">Logged in as <strong class="alert">{{ user.username }}</strong>  <a class="nav-link" href="{% url 'logout' %}">Sign out</a></p>

                    {% endif  %}
                 </li>

            </ul>
            <!-- <div class="dropdown">
                 <Button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Account
                 </button>
                 <div class="dropdown-menu">
                 <a class="dropdown-item" href="#">Change Password</a>
                 <a class="dropdown-item" href="#">Sign out</a>
                 <a class="dropdown-item" href="#">Link 3</a>
                 </div>
                 </div> -->
        </nav>
        <div class="container-fluid">
            <div class="row">

                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dashboard' %}">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'employee_detail' pk=request.user.employee.pk %}">
                                    <span data-feather="user"></span>
                                    Profile
                                </a>
                                </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'edit_company'  %}">
                                    <span data-feather="home"></span>
                                    Company
                                </a>

                            </li>

                            <li class="nav-item ">

                                <a class="nav-link   " href="{% url 'employee_list'  %}">
                                    <span data-feather="users"></span>
                                    Employee
                                </a>


                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mark_attendance'  %}">
                                    <span data-feather="edit"></span>
                                    Attendance
                                </a>
                            </li>
                            <li class="nav-item">
                             <a class="nav-link" href="{% url 'salary_employee_list'  %}">
                                    <span data-feather="dollar-sign"></span>
                                    Salary
                                </a>
                            </li>

                        </ul>


                    </div>
                </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2"><span data-feather="home" style="padding-right:5px;"></span>Dashboard</h1>
          </div>

          <div>
            {%block content%}
            {%endblock%}
        </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- my comment
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx1 = document.getElementById("myChart");
      var myChart = new Chart(ctx1, {
        type: 'bar',
        data: {
          labels: ["Jan", "Feb", "March", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"],
          datasets: [{

            data: [{{ a1 }},{{ a2 }},{{ a3 }},{{ a4 }},{{ a5 }},{{ a6 }},{{ a7 }},{{ a8 }},{{ a9 }},{{ a10 }},{{ a11 }},{{ a12 }}],
            lineTension: 0,
            backgroundColor: "#e8c3b9" ,
              /* backgroundColor: 'transparent',*/
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });

     var ctx2 = document.getElementById("myPie");
     new Chart(ctx2, {
         type: 'pie',
         data: {
             /* labels: ["Africa", "Asia", "Europe", "Latin America"],*/
             labels: [
                 {% for obj in l2 %}
                 "{{ obj }}",
                 {% endfor %}
             ],
             datasets: [{
                 label: "Employees (Number)",
                 backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                 data: [
                     {% for obj in l3 %}
                     {{ obj }},
                     {% endfor %}
                 ]
             }]
         },
         options: {
             title: {
                 display: true,
                 text: 'No of employees by designation'
             }
         }
     });

      var ctx3 = document.getElementById("myChart2");
      var myChart = new Chart(ctx3, {
        type: 'horizontalBar',
        data: {
          labels: ["","Male", "Female",""],
          datasets: [{
            data: [0, {{ males }} , {{ females }}, 0],
            lineTension: 0,
              /* backgroundColor: [,"#c45850", "#3e95cd"],*/
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 7,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
