{% extends 'payroll/base.html' %}
{%include 'login/messages.html' %}
{% block content %}

<h1>Company Details</h1>

<div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'edit_company'  %}">Company</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_holiday'  %}">Add Holiday</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_department'  %}" >Department</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'add_designation'  %}">Designation</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_worktype'  %}">Add Work-Type</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'add_jobtype'  %}">Job-Type</a>
        </li>
    </ul>
</div>

</div>

<div class="col-sm-7">
    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>
    {% endfor %}

    <form method="POST" class="employee-form">{% csrf_token %}

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                w</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.name.errors }}
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.address_line_1.errors }}
                    {{ form.address_line_1.label_tag }}
                    {{ form.address_line_1 }}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.address_line_2.errors }}
                    {{ form.address_line_2.label_tag }}
                    {{ form.address_line_2 }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.state.errors }}
                    {{ form.state.label_tag }}
                    {{ form.state }}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.postal_code.errors }}
                    {{ form.postal_code.label_tag }}
                    {{ form.postal_code }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.country.errors }}
                    {{ form.country.label_tag }}
                    {{ form.country }}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ form.fax.errors }}
                    {{ form.fax.label_tag }}
                    {{ form.fax }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.website.errors }}
                    {{ form.website.label_tag }}
                    {{ form.website }}
                </div>

            </div>
        </div>
<button type="submit" class="btn btn-primary btn-sm" name="btnCompany">Submit</button>

<a class="btn btn-primary btn-sm" href="{% url 'add_holiday'  %}">Add Holiday</a>
        {% endblock %}
