{% extends 'company/base.html' %}
{%include 'login/messages.html' %}
{% block content %}

<h1>Add Holiday </h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_company'  %}">Company</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="{% url 'add_holiday'  %}">Holiday</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_department'  %}" >Department</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'add_designation'  %}">Designation</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_worktype'  %}">Work-Type</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'add_jobtype'  %}">Job-Type</a>
        </li>
    </ul>
</div>

</div>
<div class="row">
    <div class="col-sm-7">
        {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>

            {{ message }}

        </div>
        {% endfor %}


        {{form.non_field_errors}}

        <form method="POST" class="employee-form">{% csrf_token %}

            <!-- {{form.company.errors }}
                 {{form.company.label_tag }}
                 {{form.company }}
               -->
            <div class="row">
                <div class="col" id="holiday_name">
                    <div class="form-group">
                        {{form.name.errors }}
                        {{form.name.label_tag }}
                        {{form.name }}
                    </div>
                </div>
                <div class="col" id="holiday_date">
                    <div class="form-group">
                        {{form.date.errors }}
                        {{form.date.label_tag }}
                        {{form.date }}
                    </div>
                </div>
            </div>

<div class="row justify-content-center">
            <button type="submit" class="btn btn-primary btn-md " name="btnCompany">Add</button>
</div>

    </div>

</div>
{% if holiday_list %}
<div class="row mt-4">
    <div class="col">
        <table class="table table-md" style="width: 80.66%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Holiday Name</th>
                    <th  scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for record in holiday_list %}


                    <th scope="row">{{record.date}}</th>
                    <td>{{record.get_name_display}}</td>
                    <td><a class="btn btn-light" href= "{% url 'holiday_delete' pk=record.pk  %}">Delete</a></td>
                </tr>
                <tbody>

                    {% endfor %}
        </table>
    </div>
</div>
{% endif %}


{% endblock  %}
