{% extends 'payroll/user/base.html' %}
{%include 'payroll/messages.html' %}
{% block content %}

<h1>Add Employee</h1>



<div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-tabs">



     <li class="nav-item">
     <a class="nav-link" href="{% url 'add_employee'  %}">Add Employee</a>
     </li>

     <li class="nav-item">
     <a class="nav-link" href="{% url 'employee_list'  %}" >View All Employee</a>
     </li>

     <li class="nav-item">
     <a class="nav-link active" href="{% url 'admin_detail'  %}">Update Admin Profile</a>
     </li>



     </ul>
     </div>





</div>
<div class="col-sm-7">
    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>
    {% endfor %}

    <form method="POST" class="employee-form">{% csrf_token %}

 <div class="alert alert-light text-center" role="alert">Personal Information:</div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ userform.username.errors }}
                    {{ userform.username.label_tag }}
                    {{ userform.username }}

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ userform.password1.errors }}
                    {{ userform.password1.label_tag }}
                    {{ userform.password1 }}

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ userform.password2.errors }}
                    {{ userform.password2.label_tag }}
                    {{ userform.password2 }}


                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{ employeeform.name.errors }}
                    {{ employeeform.name.label_tag }}
                    {{ employeeform.name}}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ employeeform.profile_pic.errors }}
                    {{ employeeform.profile_pic.label_tag }}
                    {{ employeeform.profile_pic}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ employeeform.address.errors }}
                    {{ employeeform.address.label_tag }}
                    {{ employeeform.address}}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{ employeeform.contact.errors }}
                    {{ employeeform.contact.label_tag }}
                    {{ employeeform.contact}}
                </div>
            </div>



            <div class="col">
                <div class="form-group">
                    {{ employeeform.alter_Contact.errors }}
                    {{ employeeform.alter_Contact.label_tag }}
                    {{ employeeform.alter_Contact}}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ employeeform.Dob.errors }}
                    {{ employeeform.Dob.label_tag }}
                    {{ employeeform.Dob}}
                </div>
            </div>


             <div class="col">
                <div class="form-group">
                    {{ employeeform.gender.errors }}
                    {{ employeeform.gender.label_tag }}
                    {{ employeeform.gender}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ employeeform.emailid.errors }}
                    {{ employeeform.emailid.label_tag }}
                    {{ employeeform.emailid}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ employeeform.office_emailid.errors }}
                    <label for="id_office_emailid">Office Email Address:</label>
                    {{ employeeform.office_emailid}}
                </div>
            </div>
        </div>
         <div class="alert alert-light text-center" role="alert">Company Profile:</div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ employeeform.joining_date.errors }}
                    {{ employeeform.joining_date.label_tag }}
                    {{ employeeform.joining_date}}
                </div>
            </div>

            <!-- <div class="col">
                 <div class="form-group">
                 {{ employeeform.office_emailid.errors }}
                 {{ employeeform.office_emailid.label_tag }}
                 {{ employeeform.office_emailid}}
                 </div>
                 </div> -->
            <div class="col">
                <div class="form-group">

                    {{ jobtypeform.job_type.errors }}
                    {{ jobtypeform.job_type.label_tag }}
                    {{ jobtypeform.job_type}}
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">


                    {{ desgform.designation.errors }}
                    {{ desgform.designation.label_tag }}
                    {{ desgform.designation}}
                </div>
            </div>

            <div class="col">
                <div class="form-group">

                    {{ deptform.department.errors }}
                    {{ deptform.department.label_tag }}
                    {{ deptform.department}}
                </div>
            </div>

        </div>



        <!-- <div class="alert alert-light text-center" role="alert">Salary Details:</div>

             <div class="row">
             <div class="col">
             <div class="form-group">

             <label for"id_salary">Annual Salary:</label>
             {{ salaryincrementform.salary}}
             </div>
             </div>
             <div class="col">
             <div class="form-group">

             {{ salaryincrementform.effective_from.label_tag }}
             {{ salaryincrementform.effective_from}}
             </div>
             </div>
             </div>


             <div class="alert alert-light text-center" role="alert">Allowance:</div>

             <div class="row">
             <div class="col">
             <div class="form-group">
             {{ salaryform.basic_percentage.errors }}
             {{ salaryform.basic_percentage.label_tag }}
             {{ salaryform.basic_percentage}}
             </div>
             </div>
             <div class="col">
             <div class="form-group">
             {{ salaryform.hra_percentage.errors }}
             {{ salaryform.hra_percentage.label_tag }}
             {{ salaryform.hra_percentage}}
             </div>
             </div>

             <div class="col">
             <div class="form-group">
             {{ salaryform.conveyance_allowance.errors }}
             {{ salaryform.conveyance_allowance.label_tag }}
             {{ salaryform.conveyance_allowance}}
             </div>
             </div>
             </div>

             <div class="alert alert-light text-center" role="alert">Deductions:</div>
             <div class="row">

             <div class="col">
             <div class="form-group">
             {{ salaryform.proffessional_tax.errors }}
             {{ salaryform.proffessional_tax.label_tag }}
             {{ salaryform.proffessional_tax}}
             </div>
             </div>
             <div class="col">
             <div class="form-group">
             {{ salaryform.income_tax.errors }}
             {{ salaryform.income_tax.label_tag }}
             {{ salaryform.income_tax}}
             </div>
             </div>
             </div>
           -->
        <div class="row justify-content-center mb-4">
            <button type="submit" class="btn btn-primary btn-md" name="btnCompany">Add</button>
        </div>
        {% endblock %}
