{% extends 'payroll/user/base.html' %}
{%include 'payroll/messages.html' %}
{% block content %}

<h1>Add Employee</h1>



<div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-tabs">



     <li class="nav-item">
     <a class="nav-link" href="{% url 'add_employee'  %}">Add Employee</a>
     </li>

     <li class="nav-item">
     <a class="nav-link" href="{% url 'employee_list'  %}" >View All Employee</a>
     </li>

     <li class="nav-item">
     <a class="nav-link active" href="{% url 'admin_detail'  %}">Update Admin Profile</a>
     </li>



     </ul>
     </div>





</div>
<div class="col-sm-7">
    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>
    {% endfor %}

    <form method="POST" class="employee-form">{% csrf_token %}


        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ userform.username.errors }}
                    {{ userform.username.label_tag }}
                    {{ userform.username }}

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ userform.password1.errors }}
                    {{ userform.password1.label_tag }}
                    {{ userform.password1 }}

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ userform.password2.errors }}
                    {{ userform.password2.label_tag }}
                    {{ userform.password2 }}


                </div>
            </div>
        </div>



        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.address.errors }}
                    {{ employeeform.address.label_tag }}
                    {{ employeeform.address}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form.profile_pic.errors }}
                    {{ employeeform.profile_pic.label_tag }}
                    {{ employeeform.profile_pic}}
                </div></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.contact.errors }}
                    {{ employeeform.contact.label_tag }}
                    {{ employeeform.contact}}
                </div>
            </div>



            <div class="col">
                <div class="form-group">
                    {{ form.alter_Contact.errors }}
                    {{ employeeform.alter_Contact.label_tag }}
                    {{ employeeform.alter_Contact}}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form.Dob.errors }}
                    {{ employeeform.Dob.label_tag }}
                    {{ employeeform.Dob}}
                </div>
            </div>



            <div class="col">
                <div class="form-group">
                    {{ employeeform.emailid.errors }}
                    {{ employeeform.emailid.label_tag }}
                    {{ employeeform.emailid}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ employeeform.office_emailid.errors }}
                    {{ employeeform.office_emailid.label_tag }}
                    {{ employeeform.office_emailid}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ employeeform.gender.errors }}
                    {{ employeeform.gender.label_tag }}
                    {{ employeeform.gender}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ employeeform.joining_date.errors }}
                    {{ employeeform.joining_date.label_tag }}
                    {{employeeform.joining_date}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">

                    <!-- <label for="id_gender">Department:</label>
                         <select name="gender" placeholder="Gender" class="form-control" id="id_gender">
                         <option value="M">Software Development</option>

                         <option value="F">Female</option>

                         </select> -->
                    {{ desgform.designation.errors }}
                    {{ desgform.designation.label_tag }}
                    {{ desgform.designation}}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <!-- <label for="id_gender">Dsignation:</label>
                         <select name="gender" placeholder="Gender" class="form-control" id="id_gender">
                         <option value="M">Intern</option>

                         <option value="F">Female</option>

                         </select> -->
                    {{ deptform.department.errors }}
                    {{ deptform.department.label_tag }}
                    {{ deptform.department}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <!-- <label for="id_gender">Job Type:</label>
                         <select name="gender" placeholder="Gender" class="form-control" id="id_gender">
                         <option value="M">Probation</option>

                         <option value="F">Female</option>

                         </select> -->
                    {{ jobtypeform.job_type.errors }}
                    {{ jobtypeform.job_type.label_tag }}
                    {{ jobtypeform.job_type}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ employeeform.salary.errors }}
                    {{ employeeform.salary.label_tag }}
                    {{ employeeform.salary}}

                </div>
            </div>
        </div>








        <div class="row">
            <div class="col">
                <div class="form-group">
                    <!-- {{ salaryform.basic_percentage.errors }}-->
                    {{ salaryform.basic_percentage.label_tag }}
                    {{ salaryform.basic_percentage}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <!-- {{ salaryform.hra_percentage.errors }}-->
                    {{ salaryform.hra_percentage.label_tag }}
                    {{ salaryform.hra_percentage}}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <!-- {{ salaryform.conveyance_allowance.errors }}-->
                    {{ salaryform.conveyance_allowance.label_tag }}
                    {{ salaryform.conveyance_allowance}}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <!-- {{ salaryform.special_allowance.errors }}-->
                    {{ salaryform.special_allowance.label_tag }}
                    {{ salaryform.special_allowance}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <!-- {{ salaryform.proffessional_tax.errors }} -->
                    {{ salaryform.proffessional_tax.label_tag }}
                    {{ salaryform.proffessional_tax}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <!-- {{ salaryform.income_tax.errors }} -->
                    {{ salaryform.income_tax.label_tag }}
                    {{ salaryform.income_tax}}
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary btn-sm" name="btnCompany">Add</button>
        {% endblock %}
