	{% load staticfiles %}
	<!doctype html>
	<html lang="en">
	    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">

		<title>Payroll Dashboard Template for Bootstrap</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/dist/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
	    </head>

	    <body>
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
		    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">

	<img src="{{request.user.employee.company.logo.url}}" width="30" height="30" class="d-inline-block align-left" alt="">
		                         {% if user.is_authenticated %}
		        {{ request.user.employee.company.name }}
		        {% endif  %}

			</a>
		    <!--input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"-->
		    <ul class="navbar-nav px-3">
		        <li class="nav-item text-nowrap">

	{% if user.is_authenticated %}
		            <p class="pt-3 nav-link active d-inline ">Logged in as <strong class="alert">{{ user.username }}</strong> <a class="nav-link" href="{% url 'logout' %}">Sign out</a></p>

		            {% endif  %}

		            <!--<a class="nav-link" href="#">Sign out</a>-->
		        </li>
		    </ul>
		</nav>
		<div class="container-fluid">
		    <div class="row">

		        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
		            <div class="sidebar-sticky">
		                <ul class="nav flex-column">
		                    <li class="nav-item">
		                        <a class="nav-link " href="#">
		                            <span data-feather="home"></span>
		                            Dashboard <span class="sr-only">(current)</span>
		                        </a>
		                    </li>
		                    <li class="nav-item ">
		                        <a class="nav-link " href="employee_details.html">
		                            <span data-feather="users"></span>
		                            Employee
		                        </a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="attendance.html">
		                            <span data-feather="users"></span>
		                            Attendance
		                        </a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link active" href="#">
		                            <span data-feather="dollar-sign"></span>
		                            Salary
		                        </a>
		                    </li>

		                </ul>


		            </div>
		        </nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
		            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">






	<h1 class= "text-center"> Salary Slip  </h1>
	<div class="btn-toolbar mb-2 mb-md-0">
	    <a class="btn btn-primary btn-sm" href="update_salary_structure.html">
		<span class="glyphicon glyphicon-plus"></span>Update Salary Structure</a>
	</div>

	</div>
	<!--div class="col-sm-7"->
	    <form method="POST" class="employee-form">{% csrf_token %}
	<!--div class="card mb-3">
		        <div class="card-body justify-content-center"-->





	    <!--div class="row"-->
		<div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 m-auto">
		    <div class="row">
		        <div class="col-xs-6 col-sm-6 col-md-6 b">
				
		            <address>
				<img src="{{request.user.employee.company.logo.url}}" width="30" height="30" class="d-inline-block align-left" alt="">
				{% if user.is_authenticated %}                        
				<strong>{{ request.user.employee.company.name }}</strong>
		                <br>
		                {{ request.user.employee.company.address_line_1 }}
		                <br>
		                {{ request.user.employee.company.address_line_2 }}
		                
				{{ request.user.employee.company.state }}
				<br><abbr title="Phone">Pin-Code:</abbr> 
				{{ request.user.employee.company.postal_code }}
				<br>
		                {{ request.user.employee.company.website }}
				{% endif  %}                    
				</address>
		        </div>
		        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
		            <p>
		                <em>Date: {{ salary.date }}</em>
		            </p>
		            <p>
		                <em>Receipt #: 34522677W</em>
		            </p>
		        </div>
		    </div>
		    <div class="row text-right">
		        <div >
		            <h2>Pay Statement</h2>
		        </div></div>
		       


 <span class="border-top border-bottom">
		<div class="row">
		    <div class="col">
		        <div class="form-group">
				Employee Name:
			</div>
		</div>
		<div class="col">
		        <div class="form-group">
		                   <p class="text-left"> {{ salary.employee }} </p>
			</div>
			</div>
		</div> 
	<div class="row">
	<div class="col">
		        <div class="form-group">
	Department:
	</div>
		</div>
	 <div class="col">
		        <div class="form-group">
	{{department.get_department_display}}
	</div>
		</div> </div>

	<div class="row">
	<div class="col">
		        <div class="form-group">
	Designation:

	</div>
		</div> 

	<div class="col">
		        <div class="form-group">


	{{designation.get_designation_display}}
	</div>
		</div> 

	</div>  

</span>

 
           
	  <table class=table >
		            <thead>
		                <tr>
		                    <th colspan="2" class="text-center"> <strong >Allowance:</strong></th>
		                    <th colspan="2" class="text-center"> <strong >Deduction:</strong></th>
		                    
		                </tr>
		            </thead>
		            <tbody>
		                <tr>
		                    <td class="col-md-5"><em>Basic:</em></h4></td>
		                    <td class="col-md-9" >  {{salary.basic_amount }} </td>
				    <td class="col-md-5"><em>Proffessional Tax:</em></h4></td>
		                    <td class="col-md-9" style=> {{ salary.proffessional_tax }} </td>
		                   
		                </tr>
		                <tr>
		                    <td class="col-md-5"><em>HRA: </em></h4></td>
		                    <td class="col-md-9" style="text-align: center"> {{salary.hra_amount }} </td>
		                    <td class="col-md-5"><em>Income Tax:  </em></h4></td>
		                    <td class="col-md-9" style="text-align: center"> {{ salary.income_tax }} </td>
		                </tr>
		                <tr>
		                    <td class="col-md-9"><em></em></h4></td>
		                    <td class="col-md-1" style="text-align: center"></td>
		                    <td class="col-md-1 text-center">Loss of Pay:</td>
		                    <td class="col-md-1 text-center">{{ salary.loss_of_pay }}</td>
		                </tr>
				 <tr>
		                    <td class="col-md-9"><em><strong >Gross Earnings:</strong></em></h4></td>
		                    <td class="col-md-1" style="text-align: center">{{ salary.gross_earning }} </td>
		                    <td class="col-md-1 text-center"><strong >Gross Deduction:</strong></td>
		                    <td class="col-md-1 text-center">{{ salary.gross_deduction }}</td>
		                </tr>
		                <tr>
		                    <td colspan=3><strong>Net Salary:</strong>   </td>
		                    <td>  {{ salary.net_salary }} </td>
		                    
		                </tr>
		                
		            </tbody>
		        </table>
		        <button type="button" class="btn btn-success btn-md ">
		            Print<span class="glyphicon glyphicon-chevron-right"></span>
		        </button></td>
		    </div>
		
	    









































	<!--/div>
	</div-->

		     </form>
		  <!--/div-->
		</div>
	</html>









	 
