{% extends 'payroll/base.html' %}
{%include 'payroll/messages.html' %}
{% block content %}

<h1>Salary Increment</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-tabs">



        <li class="nav-item">
            <a class=" btn btn-light btn-sm" href="{% url 'update_salary'  %}">Update Salary
            </a>
        </li>

        <li class="nav-item">
            <a class=" btn btn-light btn-sm" href="{% url 'salary_pending_list'  %}">Pending Salary
            </a>
        </li>

        <li class="nav-item">

            <a class=" btn btn-light btn-sm" href="{% url 'salary_employee_list'  %}">Employee
            </a>

        </li>

      <div class="dropdown-left">
                    <Button type="button"  id="dropdown-toggle" class=" active btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown">Appraisal</Button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item"  href="{% url 'salary_increment'  %}">Appraise</a>
                        <a class="dropdown-item" href="{% url 'salary_increment_list'  %}">View Appraisal</a>
                    </div>
                    </div>


        <li class="nav-item">

            <a class="btn btn-light btn-sm" href="{% url 'view_salary'  %}">Salary Report
            </a>

        </li>



    </ul>
</div>




</div>

<div class="col-sm-7">
    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>
    {% endfor %}
</div>
<form method="POST" class="employee-form">{% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form.errors }}
                {{ form.non_field_errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form.employee.errors }}
                {{ form.employee.label_tag }}
                {{ form.employee }}
            </div>
        </div>



        <div class="col-md-3">
            <div class="form-group">
                {{ form.salary.errors }}
                {{ form.salary.label_tag }}
                {{ form.salary}}
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                {{ form.effective_from.errors }}
                {{ form.effective_from.label_tag }}
                {{ form.effective_from}}
            </div>
        </div>

    </div>
 <button type="submit" class="btn btn-primary btn-md">submit</button>
</form>




{% endblock %}
